@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
$font: "Inter", sans-serif;

@font-face {
  font-family: "NYP";
  src: url("/NYP.otf");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.5;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100% !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
label,
section {
  position: relative;
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  -webkit-appearance: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  display: block;
  max-width: 100%;
}

img:not([src]) {
  visibility: hidden;
}

$c-body: #f8f8f8;
$c-text-t: #f2f2f2;
$c-text-p: #343434;

@mixin text {
  letter-spacing: -0.01rem;
  color: $c-text-p;
  font-weight: 400;
  font-size: 14px;
}
.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  perspective: 2500px;
  transition: opacity 0.5s ease;
  &__face {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 2rem;
    font-size: 0.875rem;
    transition: transform 1s cubic-bezier(0.15, 1, 0.25, 1), opacity 0.1s ease 0.1s;
    overflow: auto;
    &__inner {
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .container__face:nth-of-type(2) .container__face__inner,
  .container__face:nth-of-type(3) .container__face__inner {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
  .container__face:nth-of-type(3) .container__face__inner__col {
    grid-column-start: 5;
    text-align: right;
  }
  .container__face:nth-of-type(2) .container__face__inner__col {
    grid-column: span 2 / span 2;
    height: 100%;
    padding: 2rem;
    background: $c-body;
    border-right: 1px solid rgb(0 0 0 / 0.06);
    z-index: 100;
    position: relative;
  }
  .container__face:nth-of-type(2) .container__face__inner__close {
    grid-column: span 2 / span 2;
    height: 100%;
    padding: 2rem;
    position: relative;
    &__img {
      width: 100%;
      margin-bottom: auto;
      height: 100%;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: $font;
  background: $c-body;
  color: $c-text-t;
  @include text;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.titles {
  white-space: nowrap;
  max-width: 1470px;
}
.principale {
  display: flex;
  // margin-bottom: auto;
  margin: auto auto;
  max-width: 1320px;
  width: 100%;
  gap: 2rem 0;
  justify-content: space-between;
  @media (max-width: 800px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (max-width: 585px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.globale {
  display: flex;
  gap: 2rem;
  max-width: max-content;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  justify-items: flex-start;
  margin-bottom: auto;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 0;
  @media (max-width: 800px) {
    &:nth-child(1) {
      order: 3;
      grid-column: span 2 / span 2;
    }
    &:nth-child(2) {
      order: 1;
    }
    &:nth-child(3) {
      order: 2;
    }
  }
  @media (max-width: 585px) {
    &:nth-child(1) {
      grid-column: span 1 / span 1;
    }
    &:nth-child(2) {
      grid-column: span 1 / span 1;
    }
    &:nth-child(3) {
      grid-column: span 1 / span 1;
    }
  }
}
.lista {
  &.mobile {
    @media (max-width: 585px) {
      display: none;
    }
  }
  &__titolo {
    margin-bottom: 0.5rem;
    opacity: 0.5;
    @include text;
  }
  &__elemento {
    @include text;
    margin-top: 0.145rem;
    &.titolo {
      font-size: 2rem;
      font-weight: 500;
    }
    &--inline {
      display: inline-block;
    }
    &--link {
      &.mobile {
        @media (min-width: 585px) {
          display: none;
        }
      }
      text-decoration: underline;
      transition: opacity 0.6s ease;
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}

.testo {
  @include text;
  max-width: 450px;
  width: 100%;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.progettolista {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  @media (max-width: 585px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  &__elemento {
    border-radius: 0.5rem;
    position: relative;
    &__titolo {
      vertical-align: middle;
      align-items: center;
      display: flex;
      &:hover {
        cursor: pointer;
        & > svg {
          transform: rotate(-45deg);
        }
      }
      & > svg {
        will-change: transform;
        transition: transform 0.15s ease;
        font-size: 16px;
        transform: rotate(-90deg);
      }
    }
    &__lista {
      font-size: 12px;
      opacity: 0.5;
      font-weight: 500;
    }
  }
}

.involucro {
  max-width: 1320px;
  width: 100%;
  height: 100%;
  display: flex;
}

.superiore {
  display: grid;
  grid-template-columns: repeat(14, minmax(0, 1fr));
  margin: 2rem 0;
  font-size: 2.8vw;
  font-family: "NYP", serif;
  color: $c-text-p;
  &__titolo {
    white-space: nowrap;
    display: block;
    width: 100%;
    &:nth-child(1) {
      grid-column: span 14 / span 14;
      grid-column-start: 2;
    }
    &:nth-child(2) {
      grid-column: span 14 / span 14;
      grid-column-start: 4;
    }
    &:nth-child(3) {
      grid-column: span 14 / span 14;
      grid-column-start: 3;
    }
    &:nth-child(4) {
      grid-column: span 14 / span 14;
      grid-column-start: 1;
    }
    &:nth-child(5) {
      grid-column: span 14 / span 14;
      grid-column-start: 0;
    }
  }
}

.navigazione {
  z-index: 1000;
  position: relative;
  display: flex;
  margin-bottom: auto;
  margin: 0 auto;
  max-width: 1320px;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 0;
  @include text;
}
.desc {
  max-width: 225px;
}
.vistadelprogetto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__principale {
    &__intestazione {
      display: flex;
      gap: 2rem;
      flex-direction: column;
      &__title {
        font-size: 2rem;
        line-height: 0.5;
        font-weight: 500;
        letter-spacing: -0.09rem;
      }
      &__img {
        border: 1px solid rgb(0 0 0 / 0.06);
        height: 100px;
        width: 172px;
        position: relative;
        filter: grayscale(10%);
        border-radius: 4px;
        overflow: hidden;
      }
    }
    &__imgs {
      display: flex;
      align-items: start;
      justify-content: flex-start;
      justify-items: flex-start;
      width: 100%;
      height: 100%;
      max-width: 100%;
      &__swiper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: grab;
        &__elemento {
          width: 50% !important;
          &:last-child {
            margin-right: 5rem;
          }
          &__img {
            border: 1px solid rgb(0 0 0 / 0.06);
            padding-top: 55%;
            display: block;
            position: relative;
            overflow: hidden;
          }
        }
      }
    }
    gap: 2rem;
    display: flex;
    flex-direction: column;
    &__lista {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      flex: 1;
    }
    &__info {
      max-width: 440px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      flex: 2;
    }
  }
}

.immagine__involucro {
  &__immagini {
    display: flex;
    gap: 1rem;
    &__img {
      transition: filter 0.3s ease;
      &:hover {
        cursor: pointer;
        filter: grayscale(0%);
      }
      border-radius: 4px;
      overflow: hidden;
      flex-shrink: 0;
      position: relative;
      width: 120px;
      border: 1px solid rgb(0 0 0 / 0.06);
      height: 70px;
      filter: grayscale(100%);
    }
  }
}
